<div class="container p-3">
  <div class="row justify-content-center">
    <div class="row justify-content-center text-center">
      <h2 class="p-3 col-md-6"><i class="fa-solid fa-id-badge" id="icon_subtitle"></i>
        {{title}}</h2>
    </div>
  </div>
  <div *ngIf="cargarFormularioBooleam">
    <form [formGroup]="formCategory">

      <div class="row justify-content-center px-5">

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Código </label>
            <input type="text" class="form-control" formControlName="code"
              placeholder="Ingrese el codigo de la categoria">
            <div *ngIf="formCategory.controls.code.touched && formCategory.controls.code.errors?.required"
              class="text text-danger">
              El Código es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Categoría </label>
            <input type="text" class="form-control" formControlName="category" placeholder="Ingrese la categoria">
            <div *ngIf="formCategory.controls.category.touched && formCategory.controls.category.errors?.required"
              class="text text-danger">
              La Categoría es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6">
          <div class="form-group">
            <label> Clasificación </label>
            <ng-select [items]="classifications" bindLabel="name" bindValue="id" formControlName="idClassification"
              placeholder="Ingresa la clasificacion">
            </ng-select>
            <div
              *ngIf="formCategory.controls.idClassification.touched && formCategory.controls.idClassification.errors?.required"
              class="text text-danger">
              La Clasificación es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Tipo de cuenta </label>
            <ng-select [items]="types" bindLabel="name" bindValue="id" formControlName="idType"
              placeholder="Ingresa el tipo">
            </ng-select>
            <div *ngIf="formCategory.controls.idType.touched && formCategory.controls.idType.errors?.required"
              class="text text-danger">
              El tipo es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Grupos </label>
            <ng-select [items]="groups" bindLabel="name" bindValue="id" formControlName="idGroup"
              placeholder="Ingresa el grupo">
            </ng-select>
            <div *ngIf="formCategory.controls.idGroup.touched && formCategory.controls.idGroup.errors?.required"
              class="text text-danger">
              El grupo es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Sección </label>
            <ng-select [items]="seccions" bindLabel="name" bindValue="id" formControlName="idSection"
              placeholder="Ingresa el tipo">
            </ng-select>
            <div *ngIf="formCategory.controls.idSection.touched && formCategory.controls.idSection.errors?.required"
              class="text text-danger">
              La sección es requerida
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Saldo inicial </label>
            <input type="number" class="form-control" formControlName="initialBalance"
              placeholder="Ingrese el saldo inicial">
            <div
              *ngIf="formCategory.controls.initialBalance.touched && formCategory.controls.initialBalance.errors?.required"
              class="text text-danger">
              El saldo inicial es requerido
            </div>
          </div>
        </div>

        <div class="card_select p-3 col-md-10">
        </div>
        <div class="row justify-content-between p-3 col-md-10">
          <button (click)="saveData()" class="btn btn-outline-primary btn-ms btn-block col-md-5">
            <i class="fa-solid fa-floppy-disk" style="color: #0a3754"></i><strong> Guardar</strong>
          </button>
          <button (click)="bsModalRef.hide()" class="btn btn-outline-secondary btn-ms btn-block col-md-5">
            <i class="fa-solid fa-ban" id="icon_cancel"></i><strong> Cerrar</strong>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
