<div class="container p-3">
  <div class="row justify-content-center">
    <div class="row justify-content-center text-center">
      <h2 class="p-3 col-md-6"><i class="fa-solid fa-id-badge" id="icon_subtitle"></i>
        {{title}}</h2>
    </div>
  </div>
  <div *ngIf="cargarFormularioBooleam">
    <form [formGroup]="formProduct">

      <div class="row justify-content-center px-5">

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Nombre </label>
            <input type="text" class="form-control" formControlName="name" placeholder="Ingrese el nombre del producto">
            <div *ngIf="formProduct.controls.name.touched && formProduct.controls.name.errors?.required"
              class="text text-danger">
              El nombre es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Impuesto </label>
            <ng-select [items]="taxes" bindLabel="name" bindValue="id" formControlName="idTax" [multiple]="true" placeholder="Selecciona los impuestos" >
            </ng-select>
            <div *ngIf="formProduct.controls.idTax.touched && formProduct.controls.idTax.errors?.required"
              class="text text-danger">
              El impuesto es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Tipo </label>
            <ng-select [items]="types" bindLabel="name" bindValue="id" formControlName="idType" placeholder="Selecciona el tipo" >
            </ng-select>
            <div *ngIf="formProduct.controls.idType.touched && formProduct.controls.idType.errors?.required"
              class="text text-danger">
              El tipo es requerido
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Categoria </label>
            <ng-select [items]="categories" bindLabel="category" bindValue="id" formControlName="idCategory" placeholder="Selecciona la categoria">
            </ng-select>
            <div *ngIf="formProduct.controls.idCategory.touched && formProduct.controls.idCategory.errors?.required"
              class="text text-danger">
              La categoria es requerida
            </div>
          </div>
        </div>

        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Tipo de producto </label>
            <ng-select [items]="productType" bindLabel="name" bindValue="id" formControlName="idProductType" placeholder="Selecciona el tipo de producto" >
            </ng-select>
            <div *ngIf="formProduct.controls.idProductType.touched && formProduct.controls.idProductType.errors?.required"
              class="text text-danger">
              El tipo de producto es requerido
            </div>
          </div>
        </div>


        <div class="card_form col-md-6 mb-3">
          <div class="form-group">
            <label> Precio </label>
            <input type="number" class="form-control" formControlName="price" placeholder="Ingrese el precio">
            <div *ngIf="formProduct.controls.price.touched && formProduct.controls.price.errors?.required"
              class="text text-danger">
              El precio es requerido
            </div>
          </div>
        </div>


        <div class="card_select p-3 col-md-10">
        </div>
      </div>
      <!-- <p>{{formProduct.value | json}}</p> -->
    </form>
  </div>
  <div class="row justify-content-between p-3 col-md-10">
    <button (click)="saveData()" class="btn btn-outline-primary btn-ms btn-block col-md-5">
      <i class="fa-solid fa-floppy-disk" style="color: #0a3754"></i><strong> Guardar</strong>
    </button>
    <button (click)="bsModalRef.hide()" class="btn btn-outline-secondary btn-ms btn-block col-md-5">
      <i class="fa-solid fa-ban" id="icon_cancel"></i><strong> Cerrar</strong>
    </button>
  </div>
</div>
