<div class="card_titulo text-center py-2 mt-5">
  <div class="titulo col-12">
    <h2>Bienvenido, <strong> {{datosUsuario?.name}} {{datosUsuario?.lastName}}</strong></h2>
    <p>En este espacio, encontrarás las principales herramientas para tu
      crecimiento dentro de la Compañía.</p>
  </div>
</div>
<!-- <div class="container mb-3 p-5">
  <div class="row justify-content-between">
    <div class="card_titulo col-md-4 shadow p-3" style="border-radius: 20px;">
      <div class="card_usuario">
        <div class="row justify-content-between">
          <div class="profile1">
            <div class="row justify-content-center mb-3">
              <img src="/assets/img/perfil.png">
            </div>
          </div>
          <div class="info_lista text-center">
            <h5><strong>Daniel Santiago </strong></h5>
            <p>Administrador</p>
          </div>
        </div>
      </div>

      <div class="card_data col-md-12 p-3">
        <div class="row justify-content-between text-center">
          <p class="col-md-6" style="color: #0a3754;"><strong>Cargo</strong></p>
          <p class="col-md-6">Desarrollador Junior</p>
          <hr>
          <p class="col-md-6" style="color: #0a3754;"><strong>Proceso</strong></p>
          <p class="col-md-6">Sistemas</p>
          <hr>
          <p class="col-md-6" style="color: #0a3754;"><strong>Líder</strong></p>
          <p class="col-md-6">Pendiente ---</p>
          <hr>
        </div>
      </div>

    </div>

    <div class="card_atajos col-md-7 shadow p-3" style="border-radius: 20px;">
      <h2 class="text-center mb-5" style="color: #0a3754;">Procesos de Talento</h2>
      <div class="card-resultados p-2 shadow-sm mb-5">
        <div class="row justify-content-between">
          <div class="card_contenido col-md-8">
            <h4>Resultados Individuales</h4>
            <p>Consulta los resultados de los procesos en los que Participas.</p>
          </div>
          <div class="card col-md-4 text-center justify-content-center" style="border: 0;">
            <i class="fa-solid fa-arrow-right-long" style="font-size: 25px;"></i>
          </div>
        </div>


      </div>
      <div class="card-resultados p-2 shadow-sm">
        <div class="row justify-content-between">
          <div class="card_contenido col-md-8">
            <h4>Resultados de tu Equipo</h4>
            <p>Consulta los resultados de los procesos en los que participa tu Equipo.</p>
          </div>
          <div class="card col-md-4 text-center justify-content-center" style="border: 0;">
            <i class="fa-solid fa-arrow-right-long" style="font-size: 25px;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--
<div class="container mb-3 p-5">
  <div class="row justify-content-center">
    <div class="card_header text-center py-2 mt-5 col-md-10">
      <div class="row justify-content-center shadow p-2">
        <div class="logocorreo col-md-2">
          <img src="/img/logo_principal.png" class="p-2" width="120px"
            height="180px">
        </div>
        <div class="titulo col-md-10 text-center py-5">
          <h2>Hola, <strong>Daniel Santiago Alvarez Correa </strong></h2>
          <p>Hemos recibido una solicitud para restablecer tu contraseña de
            <strong>Novaquimica Web</strong>.</p>
        </div>
      </div>
    </div>
    <div class="card_codigo shadow mt-5 p-2">
      <p class="text-muted mt-2 text-center mb-4"><i
          class="fa-solid fa-circle-exclamation"
          style="color: #0039a5;"></i> Ingresa el siguiente
        <strong>Código</strong> para restablecer tu contraseña.</p>
      <div class="card_codigo">
        <div class="row justify-content-center">
          <button type="button"
            class="btn btn-outline-primary col-md-3 text-center mb-4"><i
              class="fa-solid fa-qrcode" style="color: #0039a5;"></i><strong>
              456657567</strong></button>
        </div>
        <p class="text-muted mt-2 text-center" style="color: red !important;"><i
            class="fa-solid fa-triangle-exclamation"
            style="color: red;"></i><strong> Ten presente</strong> una vez
          recibido el correo tendrás un plazo de <strong>30 Minutos</strong>
          para usar el <strong>Código</strong> y restablecer tu contraseña.</p>
        <p class="text-muted mt-2 text-center"
          style="color: red !important;">*En caso de cerrar la página web en
          medio del proceso de verificación y restablecimiento de contraseña,
          tendrás que repetir el procedimiento y solicitar un nuevo
          <strong>Código</strong>*.</p>
        <p class="text-muted mt-2 text-center"
          style="color: red !important;">*En caso de agotarse el tiempo límite
          tendrás que solicitar un nuevo <strong>Código</strong>*.</p>
      </div>
    </div>
    <div class="card_footer shadow py-2 mt-5 col-md-10">
      <div class="row justify-content-center">
        <div class="card_qr col-md-4">
          <p class="text-muted mt-2 mb-2 text-center"><i
              class="fa-solid fa-qrcode"
              style="color: #0039a5;"></i> Ingresa el siguiente
            <strong>Código QR</strong> para ingresar a nuestra <strong>Página
              web</strong>.</p>
          <div class="logocorreo col-md-12">
            <img src="/img/Nova_Quimica.png" class="py-2" width="auto"
              height="140px">
          </div>
        </div>
        <div class="card_info col-md-8">
          <div class="row justify-content-center">
            <div class="card_contacto col-md-8 text-center py-2">
              <p><i
                  class="fa-solid fa-paper-plane"
                  style="color: #0039a5;"></i> Si tienes dudas con respecto al
                restablecimiento de contraseña, contáctanos por medio de los
                siguientes canales de comunicación:</p>
              <p><i
                  class="fa-solid fa-envelope"
                  style="color: #33ccff "></i> <strong>
                  contactonovaquimica.com.co</strong></p>
              <p><i
                  class="fa-solid fa-square-phone"
                  style="color: #33ccff;"></i> <strong> 320567890</strong></p>
            </div>
            <div class="logocorreo col-md-4">
              <img src="/img/logo_principal.png" class="p-2" width="120px"
                height="180px">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
