<div class="container py-5 mt-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10">
      <div class="card_contenido rounded-4 shadow">
        <div class="row justify-content-center ">
          <div class="col-lg-6 d-none d-lg-flex justify-content-center">
            <img src="/assets/img/img.jpg" alt="Imagen de fondo" class="img-fluid" />
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="card-body p-md-5 mx-md-4">
              <div class="row col-md-12 justify-content-center mb-5">
                <img src="/assets/img/logo.png" alt="logo">
              </div>
              <form>
                <p class="text-center">¡Favor ingresar la información requerida!</p>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form2Example11"><strong>Correo</strong></label>
                  <input type="email" id="form2Example11" class="form-control"
                    placeholder="Phone number or email address" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form2Example22"><strong>Contraseña</strong></label>
                  <input type="password" id="form2Example22" class="form-control" />
                </div>

                <div class="row justify-content-center mb-2">
                  <button class="btn btn-primary btn-block mb-3 col-md-8" type="button">Entrar</button>
                </div>

                <div class="d-flex align-items-center justify-content-center pb-4">
                  <a class="text-muted" href="#!">Has olvidado tu contraseña?</a>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
