<div class="container mt-3 p-3">
  <div class="text-center">
    <h2 class="p-3"><i class="fa-solid fa-user" style="color:#0039a5;"></i> {{ title }}</h2>
  </div>
  <div *ngIf="cargarFormulario">
  <form [formGroup]="formUser">
    <div class="row justify-content-center p-3">
      <div class="form-group col-md-6 mb-3">
        <label for="name">{{ 'GENERAL.NAME' | translate }}</label>
        <input type="text" class="form-control" formControlName="name" [placeholder]="'USERS.NAME_PLACEHOLDER' | translate">
        <div *ngIf="formUser.get('name').invalid && formUser.get('name').touched" class="text-danger">
          {{ 'USERS.NAME_REQUIRED' | translate }}
        </div>
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="email">{{ 'GENERAL.EMAIL' | translate }}</label>
        <input type="email" class="form-control" formControlName="email" [placeholder]="'USERS.EMAIL_PLACEHOLDER' | translate">
        <div *ngIf="formUser.get('email').invalid && formUser.get('email').touched" class="text-danger">
          {{ 'USERS.EMAIL_REQUIRED' | translate }}
        </div>
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="phone">{{ 'GENERAL.PHONE' | translate }}</label>
        <input type="text" class="form-control" formControlName="phone" [placeholder]="'GENERAL.PHONE' | translate">
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="address">{{ 'GENERAL.ADDRESS' | translate }}</label>
        <input type="text" class="form-control" formControlName="address" [placeholder]="'GENERAL.ADDRESS' | translate">
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="idRole">{{ 'USERS.ROLE_LABEL' | translate }}</label>
        <ng-select [items]="roles" bindLabel="name" bindValue="id" formControlName="idRole" [placeholder]="'USERS.ROLE_PLACEHOLDER' | translate">
        </ng-select>
        <div *ngIf="formUser.get('idRole').invalid && formUser.get('idRole').touched" class="text-danger">
          {{ 'USERS.ROLE_REQUIRED' | translate }}
        </div>
      </div>
      <div class="form-group col-md-6 mb-3">
        <label for="idCompany">{{ 'USERS.COMPANY_LABEL' | translate }}</label>
        <ng-select [items]="companies" bindLabel="name" bindValue="id" formControlName="idCompany" [placeholder]="'USERS.COMPANY_PLACEHOLDER' | translate">
        </ng-select>
        <div *ngIf="formUser.get('idCompany').invalid && formUser.get('idCompany').touched" class="text-danger">
          {{ 'USERS.COMPANY_REQUIRED' | translate }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center p-3">
      <button (click)="save()" class="btn btn-outline-primary col-md-4 me-2">
        <i class="fa-solid fa-floppy-disk"></i> {{ 'GENERAL.SAVE' | translate }}
      </button>
      <button (click)="bsModalRef.hide()" class="btn btn-outline-secondary col-md-4">
        <i class="fa-solid fa-ban" style="color: red"></i> {{ 'GENERAL.CLOSE' | translate }}
      </button>
    </div>
  </form>
  </div>
</div>
