<div class="d-flex">
  <nav class="sidebar flex-column p-3 bg-light shadow text-white col-md-2"
    [ngClass]="{'sidebar-open': isMenuOpen, 'collapsed': !isMenuOpen}" id="sidebar">
    <div class="justify-content-center align-items-center text-center p-2">
      <div class="row justify-content-center col-md-2">
        <button class="btn btn-outline-primary btn-ms btn-block col-md-1" id="boton_menu" (click)="toggleMenu()"
          *ngIf="isMobile()">
          <i class="fas" [ngClass]="isMenuOpen ? 'fa-solid fa-circle-xmark' : 'fa-solid fa-circle-xmark'"></i>
        </button>
      </div>
      <div class="card_img col-md-12 mb-3 py-3">
        <img src="/assets/img/logo.png">
      </div>
    </div>

    <div class="card_titulo mt-5">
      <p class="titulo text-center"><strong><i class="fa-solid fa-layer-group"></i> Navegación</strong></p>
    </div>

    <div class="row p-2">
      <span (click)="toggleDropdown()" class="btn btn-outline-primary">
        <i class="fa-solid fa-chart-simple"></i> Dashboard
        <i class="fas col-2" [ngClass]="isDropdownOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </span>
      <div *ngIf="isDropdownOpen" class="mt-2 d-flex flex-column justify-content-center">
        <div class="row shadow justify-content-center" id="micro">
          <span><a class="dropdown-item" href="/gestiones/empresa/cargos"><i class="fa-solid fa-chart-pie" id="icon_micro"></i>
              Reportes</a></span>
          <span><a class="dropdown-item" href="#"><i class="fa-solid fa-square-poll-vertical" id="icon_micro"></i>
              Gráficas</a></span>
        </div>
      </div>
    </div>

  </nav>

  <div class="flex-grow-1" [ngClass]="{'expanded': isMenuOpen, 'collapsed': !isMenuOpen}">
    <header class="row bg-light shadow text-secondary p-3 align-items-center">
      <div class="card_botton col-2">
        <button class="btn btn-outline-primary btn-ms btn-block col-md-1" id="boton_menu" (click)="toggleMenu()">
          <i class="fas" [ngClass]="isMenuOpen ? 'fa-solid fa-bars' : 'fa-regular fa-chart-bar'"></i>
        </button>
      </div>
      <div class="row justify-content-end col-10">
        <div class="card_user justify-content-end d-flex col-10">
          <div class="card_noti col-2 py-5">
            <i class="fa-solid fa-bell justify-content-center d-flex" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div class="micro-menu" id="micro">
              <ul class="dropdown-menu shadow" id="ul_noti" aria-labelledby="dropdownMenuButton">
                <li *ngFor="let notification of notifications">
                  <a class="dropdown-item" href="#">
                    <i class="{{ notification.icon }}"></i>&nbsp;&nbsp;{{ notification.message }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="profile1 d-flex align-items-center" >
            <img src="/assets/img/perfil.png" onError="this.src='/assets/img/perfil.png'" alt="Perfil" />
            <div class="row text-center" id="dropdown_user">
              <strong>{{datosUsuario.name}} {{datosUsuario.lastName}}</strong>
              <span>Menu Principal</span>
            </div>
            <div class="micro-menu" id="micro">
              <ul class="dropdown-menu shadow col-md-12" id="ul">
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user col-md-2" id="icon_micro"></i>
                    Mi Perfil</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket col-md-2"
                      id="icon_micro"></i>
                    Cerrar Sesión</a></li>
              </ul>
              <i class="fa-solid fa-caret-down ms-auto col-md-1" data-bs-toggle="dropdown" aria-expanded="false"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
<!--
    <main class="container p-3">
      <h3><i class="fa-solid fa-chart-pie col-1 py-2" style="font-size: 25px; color:#0a3754; width: 25px;"></i>
        Bienvenido al Panel de Administración</h3>
      <p>Aquí puedes gestionar tu aplicación de manera efectiva.</p>
    </main> -->
    <router-outlet></router-outlet>
  </div>
</div>

