<div class="container mb-5">
  <div class="row justify-content-center py-5">
    <div class="col-xl-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-12">
              <div class="card_volver py-3 px-3">
                <i class="fa-solid fa-circle-arrow-left col-md-1" id="icon_subtitle" (click)="exit()"></i>
              </div>
              <div class=" py-1 px-5">
                <div class="row justify-content-center mb-3">
                  <div class="card col-md-10" id="card_img">
                    <img src="/assets/img/logo.png">
                  </div>
                </div>
                <h5 class="card_titulo text-center">{{ 'AUTH.RECOVER_PASSWORD.TITLE' | translate }}</h5>
                <p class="text-muted mt-2 text-center "><i class="fa-solid fa-circle-exclamation" id="icon_text"></i>
                  {{ 'AUTH.RECOVER_PASSWORD.DESCRIPTION' | translate }}</p>
                <form [formGroup]="loginForm">

                  <div class="row justify-content-center shadow mb-2 p-3">
                    <h6 class="text-muted mt-2 text-center"><i class="fa-solid fa-envelope-open-text"
                        id="icon_text"></i> {{ 'AUTH.RECOVER_PASSWORD.ENTER_EMAIL' | translate }}</h6>
                    <div class="form-group mb-3">
                      <label for="exampleInputEmail1">{{ 'AUTH.RECOVER_PASSWORD.EMAIL_LABEL' | translate }}</label>
                      <input type="email" class="form-control" formControlName="email" [readOnly]="!booleanEmail"
                        [placeholder]="'AUTH.RECOVER_PASSWORD.EMAIL_PLACEHOLDER' | translate">
                    </div>
                    @if (booleanEmail) {
                    <div class="row justify-content-center col-md-10 py-2">
                      <button [disabled]="booleanButtonEmail" (click)="sendCode()" class="btn btn-primary "> {{ 'AUTH.RECOVER_PASSWORD.REQUEST_CODE' | translate }}</button>
                    </div>
                    }
                  </div>

                  @if (booleanCode) {
                  <div class="row justify-content-between shadow p-3 mb-2">
                    <p class="text-muted mt-2 text-center "><i class="fa-solid fa-qrcode" id="icon_text"></i>
                      {{ 'AUTH.RECOVER_PASSWORD.ENTER_CODE_DESCRIPTION' | translate }}</p>
                    <div class="form-group col-md-6">
                      <label for="codigo" style="color: grey;">{{ 'AUTH.RECOVER_PASSWORD.CODE_LABEL' | translate }}</label>
                      <input class="form-control" type="text" formControlName="code" [placeholder]="'AUTH.RECOVER_PASSWORD.CODE_PLACEHOLDER' | translate">
                    </div>
                    <div class="row justify-content-center col-md-5 py-4">
                      <button (click)="validateCode()" class="btn btn-theme mb-5">
                        {{ 'AUTH.RECOVER_PASSWORD.VERIFY_CODE' | translate }}</button>
                    </div>
                  </div>
                  }

                  @if (booleanNewPass) {
                  <div class="row justify-content-center shadow mb-2 p-3">
                    <p class="text-muted mt-2 text-center "><i class="fa-solid fa-key" id="icon_text"></i>
                      {{ 'AUTH.RECOVER_PASSWORD.NEW_PASSWORD_DESCRIPTION' | translate }}</p>
                    <div class="form-group mb-3">
                      <label for="password">{{ 'AUTH.RECOVER_PASSWORD.NEW_PASSWORD_LABEL' | translate }}</label>
                      <input type="password" class="form-control" formControlName="newPassword"
                        [placeholder]="'AUTH.RECOVER_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate">
                      <div *ngIf="loginForm.controls.newPassword.errors?.pattern" class="text text-danger">
                        {{ 'AUTH.RECOVER_PASSWORD.PASSWORD_REQUIREMENTS' | translate }}
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="password">{{ 'AUTH.RECOVER_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate }}</label>
                      <input type="password" class="form-control" formControlName="confirmPassword"
                        [placeholder]="'AUTH.RECOVER_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate">
                      <div
                        *ngIf=" loginForm.controls.newPassword.touched && loginForm.value.newPassword != loginForm.value.confirmPassword "
                        class="text text-danger">
                        {{ 'AUTH.RECOVER_PASSWORD.PASSWORDS_NOT_MATCH' | translate }}
                      </div>
                    </div>
                    <div class="row justify-content-center col-md-10 py-2">
                      <button (click)="newPassword()" class="btn btn-theme mb-5"> {{ 'AUTH.RECOVER_PASSWORD.RESET_PASSWORD' | translate }}</button>
                    </div>
                  </div>
                  }

                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end card-body -->
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- Row -->
</div>
