<div class="container mb-5">
  <div class="row justify-content-center py-5">
    <div class="col-xl-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-12">
              <div class="card_volver py-3 px-3">
                <i class="fa-solid fa-circle-arrow-left col-md-1" id="icon_subtitle" (click)="exit()"></i>
              </div>
              <div class=" py-1 px-5">
                <div class="row justify-content-center mb-3">
                  <div class="card col-md-10">
                    <img src="/assets/img/logo.png" width="auto">
                  </div>
                </div>
                <h5 class="card_titulo text-center">Recuperación de Contraseña</h5>
                <p class="text-muted mt-2 text-center "><i class="fa-solid fa-circle-exclamation" id="icon_text"></i>
                  Por este medio podrás solicitar
                  un código de verificación mediante el correo electrónico, con
                  el cual accederás a la opción de nueva contraseña.</p>
                <form [formGroup]="loginForm">

                  <div class="row justify-content-center shadow mb-2 p-3">
                    <h6 class="text-muted mt-2 text-center"><i class="fa-solid fa-envelope-open-text"
                        id="icon_text"></i> Ingresa el Correo electrónico.</h6>
                    <div class="form-group mb-3">
                      <label for="exampleInputEmail1">Correo</label>
                      <input type="email" class="form-control" formControlName="email" [readOnly]="!booleanEmail"
                        placeholder="Example@gmail.com">
                    </div>
                    @if (booleanEmail) {
                    <div class="row justify-content-center col-md-10 py-2">
                      <button [disabled]="booleanButtonEmail" (click)="sendCode()" class="btn btn-primary "> Solicitar
                        Código</button>
                    </div>
                    }
                  </div>

                  @if (booleanCode) {
                  <div class="row justify-content-between shadow p-3 mb-2">
                    <p class="text-muted mt-2 text-center "><i class="fa-solid fa-qrcode" id="icon_text"></i>
                      Ingresa a tu Correo electrónico y digita el código recibido.</p>
                    <div class="form-group col-md-6">
                      <label for="codigo" style="color: grey;">Código</label>
                      <input class="form-control" type="text" formControlName="code" placeholder="Ingresa codigo">
                    </div>
                    <div class="row justify-content-center col-md-5 py-4">
                      <button (click)="validateCode()" class="btn btn-theme mb-5">
                        Verificar Código</button>
                    </div>
                  </div>
                  }

                  @if (booleanNewPass) {
                  <div class="row justify-content-center shadow mb-2 p-3">
                    <p class="text-muted mt-2 text-center "><i class="fa-solid fa-key" id="icon_text"></i>
                      Ingresa la nueva contraseña y confírmala.</p>
                    <div class="form-group mb-3">
                      <label for="password">Nueva Contraseña</label>
                      <input type="password" class="form-control" formControlName="newPassword"
                        placeholder="Mínimo 8 Caracteres">
                      <div *ngIf="loginForm.controls.newPassword.errors?.pattern" class="text text-danger">
                        La nueva contraseña debe contener al menos una mayuscula una minuscula un numero y minimo 6
                        caracteres
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="password">Confirmar Contraseña</label>
                      <input type="password" class="form-control" formControlName="confirmPassword"
                        placeholder="Mínimo 8 Caracteres">
                      <div
                        *ngIf=" loginForm.controls.newPassword.touched && loginForm.value.newPassword != loginForm.value.confirmPassword "
                        class="text text-danger">
                        Las contraseñas no son iguales
                      </div>
                    </div>
                    <div class="row justify-content-center col-md-10 py-2">
                      <button (click)="newPassword()" class="btn btn-theme mb-5"> Restablecer Contraseña</button>
                    </div>
                  </div>
                  }

                </form>
                <!-- <p>{{loginForm.value | json}}</p> -->
              </div>
            </div>
          </div>
        </div>
        <!-- end card-body -->
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- Row -->
</div>
