/* @media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

i:hover {
  color: white !important;
}

i {

  font-size: 15px;
}

h2 {
  color: gray;
}

h3 {
  color: gray;
}

label {
  color: gray;
}

h4 {
  color: gray;
}

p {
  color: gray;
  font-weight: 600;
}

.card_titulo {
  padding-left: 7rem;
  padding-top: 2rem;
}

.btn-outline-primary {
  --bs-btn-color: #0a3754 !important;
  --bs-btn-hover-bg: #5564eb69 !important;
  border-color: #5564eb69 !important;
  --bs-btn-active-bg: #5564eb69 !important;
  --bs-btn-border-color: #5564eb69 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5564eb69 !important;
  --bs-btn-hover-border-color: #5564eb69 !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5564eb69 !important;
  --bs-btn-active-border-color: #5564eb69 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #5564eb69 !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5564eb69 !important;
}

.button_estado {
  border: 0;
  background-color: chartreuse;
  border-radius: 10px;
}

.icono i {
  font-size: 4rem;
  color: #0039a5;
} */
