<div class="card_titulo px-5 mt-5">
  <div class="icon col-md-2">
    <i class="fa-solid fa-coins"></i>
  </div>
  <div class="titulo col-md-10">
    <h2>Moneda</h2>
    <p> Crea y gestiona los diferentes sistemas de moneda de tu compañia.</p>
  </div>
</div>
<div class="container container p-5">
  <div class="row justify-content-center">
    <div class="row justify-content-between p-3">
      <h3 class="col-md-6"><i class="fa-solid fa-coins" id="icon_subtitle"></i> Gestión de Monedas</h3>
      <div class="card_search col-md-4 position-relative">
        <input id="search" type="search" [(ngModel)]="buscadorCurrency" class="form-control" placeholder="Buscar">
        <i class="fas fa-search position-absolute" id="icon_search"></i>
      </div>
      <button (click)="newCurrency()" class="btn btn-outline-primary btn-ms btn-block col-md-2">
        <i class="fa-solid fa-circle-plus"></i> Crear
      </button>
    </div>
    <div class="row justify-content-left">
      <div class="select col-md-1">
        <select class="form-select co-md-1" (change)="numeroPaginasCurrency($event)">
          <option *ngFor="let option of nPaginasCurrency" [value]="option" [selected]="option === totalPaginasCurrency">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="scroll col-md-12">
      <table class="table table-responsive">
        <thead class="cont_head">
          <tr>
            <th>NOMBRE</th>
            <th>CODIGO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody class="cont_body" id="cont_body">
          <tr
            *ngFor="let currency of filterCurrencys() | paginate: {itemsPerPage: totalPaginasCurrency, currentPage: pageCurrency, id: 'pageCurrency'}">
            <td>
              <p id="td_1">{{currency.name}}</p>
            </td>
            <td> {{currency.code}} </td>
            <td>
              <i (click)="editCurrency(currency)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
              <!-- <i class="fas fa-trash-alt" style="color: gray;"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-between text-center p-3">
    <div class="col-md-3 p-3" *ngIf="filterCurrencys().length"><span
        style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
        <strong style="color: #0a3754;">{{
          (pageCurrency - 1) * totalPaginasCurrency + 1 }} <strong style="color: gray;">-</strong> {{
          (pageCurrency * totalPaginasCurrency < filterCurrencys().length) ? (pageCurrency * totalPaginasCurrency) :
            filterCurrencys().length }} <strong style="color: gray;font-weight: 300;">de</strong>
        {{ filterCurrencys().length }}</strong></span>
    </div>
    <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;" id="pageCurrency"
      (pageChange)="pageCurrency =$event" previousLabel="Anterior" nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page 5 de 10">
    </pagination-controls>
  </div>
</div>


<div class="container container p-5">
  <div class="row justify-content-center">
    <div class="row justify-content-between p-3">
      <h3 class="col-md-6"><i class="fa-solid fa-flag-usa" id="icon_subtitle"></i> Gestión de País</h3>
      <div class="card_search col-md-4 position-relative">
        <input id="search" type="search" [(ngModel)]="buscadorCountries" class="form-control" placeholder="Buscar">
        <i class="fas fa-search position-absolute" id="icon_search"></i>
      </div>
      <button class="btn btn-outline-primary btn-ms btn-block col-md-2">
        <i class="fa-solid fa-circle-plus"></i> Crear
      </button>
    </div>
    <div class="row justify-content-left">
      <div class="select col-md-1">
        <select class="form-select co-md-1" (change)="numeroPaginasCountries($event)">
          <option *ngFor="let option of nPaginasCountries" [value]="option"
            [selected]="option === totalPaginasCountries">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="scroll col-md-12">
      <table class="table table-responsive">
        <thead class="cont_head">
          <tr>
            <th>NOMBRE</th>
            <th>CODIGO PAIS</th>
            <th>IDIOMA</th>
            <th>MONEDA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody class="cont_body">
          <tr
            *ngFor="let country of filterCountries() | paginate: {itemsPerPage: totalPaginasCountries, currentPage: pageCountries, id: 'country'}">
            <td>
              <p id="td_1">{{country.name}}</p>
            </td>
            <td> {{country.countryCode}} </td>
            <td> {{country.language}} </td>
            <td> {{country.nameCurrencies}} </td>
            <td>
              <i class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-between text-center p-3">
    <div class="col-md-3 p-3" *ngIf="filterCountries().length"><span
        style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
        <strong style="color: #0a3754;">{{
          (pageCountries - 1) * totalPaginasCountries + 1 }} <strong style="color: gray;">-</strong> {{
          (pageCountries * totalPaginasCountries < filterCountries().length) ? (pageCountries * totalPaginasCountries) :
            filterCountries().length }} <strong style="color: gray;font-weight: 300;">de</strong>
        {{ filterCountries().length }}</strong></span>
    </div>
    <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;" id="country"
      (pageChange)="pageCountries =$event" previousLabel="Anterior" nextLabel="Siguiente"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page 5 de 10">
    </pagination-controls>
  </div>
</div>



<!-- <div class="tab-container">
  <div class="tabs">
    <button (click)="selectTab(1)" [class.active]="selectedTab === 1">Tabla 1</button>
    <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Tabla 2</button>
  </div>

  <div class="tab-content">
    <div *ngIf="selectedTab === 1">
      <p>tabla 1</p>

    </div>
    <div *ngIf="selectedTab === 2">
      <p>tabla 2</p>
    </div>
  </div>
</div> -->
