

/* .tab-container {
  width: 100%;
}

.tabs {
  display: flex;
}

.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f1f1f1;
  outline: none;
}

.tabs button.active {
  background-color: #ccc;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  border-top: 1px solid #ccc;
} */
