@media only screen and (max-width: 480px) {
    img {
        width: 100%;
    }
}

i:hover{
    color: white !important;
}

i{
   
    font-size: 15px;
}

h2{
    color: gray;
}

p{
    color: gray;
    font-weight: 600;
}

select {
    color: #1272b3 !important;
    border: none;
    font-weight: 600;
}

.card_titulo{
    padding-left: 7rem;
    padding-top: 2rem;
}

.btn-outline-primary{
    --bs-btn-hover-bg: #1272b3;
    border-color: #1272b3;
}



.button_estado{
    border: 0;
    background-color: chartreuse;
    border-radius: 10px;
}

.icono i{
    font-size: 4rem;
    color:#0a3754;
}