<div class="container container mt-5 mb-3 p-3">
  <div class="row justify-content-center">
    <div class="row justify-content-center text-center">
      <h2 class="p-3 col-md-8"><i class="fa-solid fa-lock-open" style="font-size: 25px; color:#0a3754;"></i>
        {{title}}</h2>
    </div>
  </div>
  <div *ngIf="cargarFormularioBoolean">
    <form [formGroup]="formPassword">
      <div class="row justify-content-center">
        <div class="card_form col-md-10">
          <div class="card_form p-3">
            <div class="row justify-content-center">
              <div class="card_pass col-6">
                <div class="form-group">
                  <label for="cargo">
                    <p>{{ 'CHANGE_PASSWORD.CURRENT_PASSWORD_LABEL' | translate }}</p>
                  </label>
                  <input type="password" class="form-control" formControlName="password" aria-describedby="emailHelp"
                    [placeholder]="'CHANGE_PASSWORD.CURRENT_PASSWORD_PLACEHOLDER' | translate">
                  <div
                    *ngIf="formPassword.controls.password.touched && formPassword.controls.password.errors?.required"
                    class="text text-danger">
                    {{ 'CHANGE_PASSWORD.CURRENT_PASSWORD_REQUIRED' | translate }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group p-2 col-6">
                <label for="cargo">
                  <p>{{ 'CHANGE_PASSWORD.NEW_PASSWORD_LABEL' | translate }}</p>
                </label>
                <input type="password" class="form-control" formControlName="newPassword" aria-describedby="emailHelp"
                  [placeholder]="'CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate">
                <div
                  *ngIf="formPassword.controls.newPassword.touched && formPassword.controls.newPassword.errors?.required"
                  class="text text-danger">
                  {{ 'CHANGE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate }}
                </div>
                <div *ngIf="formPassword.controls.newPassword.errors?.pattern" class="text text-danger">
                  {{ 'CHANGE_PASSWORD.PASSWORD_REQUIREMENTS' | translate }}
                </div>
              </div>
              <div class="form-group p-2 col-6">
                <label for="cargo">
                  <p>{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate }}</p>
                </label>
                <input type="password" class="form-control" formControlName="confirmPassword"
                  aria-describedby="emailHelp" [placeholder]="'CHANGE_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate">
                <div
                  *ngIf="formPassword.controls.confirmPassword.touched && formPassword.controls.confirmPassword.errors?.required"
                  class="text text-danger">
                  {{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3"></div>
        <div class="row justify-content-between p-3 col-md-10">
          <button (click)="guardarDatos()" class="btn btn-outline-primary btn-ms btn-block col-md-5">
            <i class="fa-solid fa-floppy-disk" style="color: #0a3754"></i><strong> {{ 'GENERAL.SAVE' | translate }}</strong>
          </button>
          <button (click)="bsModalRef.hide()" class="btn btn-outline-secondary btn-ms btn-block col-md-5">
            <i class="fa-solid fa-ban" style="color: red"></i><strong> {{ 'GENERAL.CLOSE' | translate }}</strong>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
