<div class="card_titulo px-5 mt-5">
  <!-- <div class="icon col-md-2">
    <i class="fa-solid fa-coins"></i>
  </div> -->
  <div class="titulo col-md-10">
    <h2>Aplicativo </h2>
    <p> Crea y gestiona la configuración de tu empresa.</p>
  </div>
</div>

<div class="container">

  <div class="tabs col-md-12 py-5">
    <button (click)="selectTab(1)" [class.active]="selectedTab === 1">Ajustes Locales</button>
    <!-- <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Países</button>
    <button (click)="selectTab(3)" [class.active]="selectedTab === 3">Impuestos</button> -->
    <button (click)="selectTab(4)" [class.active]="selectedTab === 4">Grupos</button>
    <button (click)="selectTab(5)" [class.active]="selectedTab === 5">Tipos</button>
    <button (click)="selectTab(6)" [class.active]="selectedTab === 6">Categorías</button>
    <button (click)="selectTab(7)" [class.active]="selectedTab === 7">Forma de Pago</button>
    <button (click)="selectTab(8)" [class.active]="selectedTab === 8">Medios de Pago</button>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 1">

      <div class="row justify-content-center">
        <div class="row justify-content-between p-3">
          <h3 class="col-md-6"><i class="fa-solid fa-coins" id="icon_subtitle"></i> Gestión de Monedas</h3>
          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorCurrency" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>
          <button (click)="newCurrency()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>
        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CODIGO</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body" id="cont_body">
              <tr
                *ngFor="let currency of filterCurrencys() | paginate: {itemsPerPage: totalPaginasCurrency, currentPage: pageCurrency, id: 'pageCurrency'}">
                <td>{{currency.id}}</td>
                <td>
                  <p id="td_1">{{currency.name}}</p>
                </td>
                <td> {{currency.code}} </td>
                <td>
                  <i (click)="editCurrency(currency)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteCurrency(currency.id)" class="fa-regular fa-trash-can" style="color: red;"></i>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasCurrency($event)">
            <option *ngFor="let option of nPaginasCurrency" [value]="option"
              [selected]="option === totalPaginasCurrency">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterCurrencys().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageCurrency - 1) * totalPaginasCurrency + 1 }} <strong style="color: gray;">-</strong> {{
              (pageCurrency * totalPaginasCurrency < filterCurrencys().length) ? (pageCurrency * totalPaginasCurrency) :
                filterCurrencys().length }} <strong style="color: gray;font-weight: 300;">de</strong>
            {{ filterCurrencys().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;"
          id="pageCurrency" (pageChange)="pageCurrency =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>

      </div>

      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>


    <!-- </div>
  </div>


  <div class="container px-5">
    <div *ngIf="selectedTab === 2"> -->

      <div class="row justify-content-center">
        <div class="row justify-content-between p-3">
          <h3 class="col-md-6"><i class="fa-solid fa-flag-usa" id="icon_subtitle"></i> Gestión de País</h3>
          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorCountries" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>
          <button (click)="newCountry()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>
        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CODIGO PAIS</th>
                <th>IDIOMA</th>
                <th>MONEDA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let country of filterCountries() | paginate: {itemsPerPage: totalPaginasCountries, currentPage: pageCountries, id: 'itemCountry'}">
                <td>{{country.id}}</td>
                <td>
                  <p id="td_1">{{country.name}}</p>
                </td>
                <td> {{country.countryCode}} </td>
                <td> {{country.language}} </td>
                <td> {{country.nameCurrency}} - {{country.code}} </td>
                <td>
                  <i (click)="editCountry(country)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteCountry(country.id)" class="fa-regular fa-trash-can" style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasCountries($event)">
            <option *ngFor="let option of nPaginasCountries" [value]="option"
              [selected]="option === totalPaginasCountries">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterCountries().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageCountries - 1) * totalPaginasCountries + 1 }} <strong style="color: gray;">-</strong> {{
              (pageCountries * totalPaginasCountries < filterCountries().length) ? (pageCountries *
                totalPaginasCountries) : filterCountries().length }} <strong style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterCountries().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;"
          id="itemCountry" (pageChange)="pageCountries =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>

      
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>

    <!-- </div>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 3"> -->

      <div class="row justify-content-center">
        <div class="row justify-content-between p-3">
          <h3 class="col-md-6"><i class="fa-solid fa-square-pen" id="icon_subtitle"></i> Gestión de Impuestos</h3>
          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorTaxes" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>
          <button (click)="newTax()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>
        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th>TASA DE IMPUESTO</th>
                <th>PAIS</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let tax of filterTaxes() | paginate: {itemsPerPage: totalPaginasTaxes, currentPage: pageTaxes, id: 'itemTaxes'}">
                <td>{{tax.id}}</td>
                <td>
                  <p id="td_1">{{tax.name}}</p>
                </td>
                <td> {{tax.description}} </td>
                <td> {{tax.defaultRate}}%</td>
                <td> {{tax.nameCountry}} </td>
                <td>
                  <i (click)="editTax(tax)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteTax(tax.id)" class="fa-regular fa-trash-can" style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasTaxes($event)">
            <option *ngFor="let option of nPaginasTaxes" [value]="option" [selected]="option === totalPaginasTaxes">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterTaxes().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageTaxes - 1) * totalPaginasTaxes+ 1 }} <strong style="color: gray;">-</strong> {{
              (pageTaxes * totalPaginasTaxes < filterTaxes().length) ? (pageTaxes * totalPaginasTaxes) :
                filterTaxes().length }} <strong style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterTaxes().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;" id="itemTaxes"
          (pageChange)="pageTaxes =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>


    </div>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 4">

      <div class="row justify-content-center">
        <div class="row justify-content-between p-3">
          <h3 class="col-md-4"><i class="fa-solid fa-square-pen" id="icon_subtitle"></i> Gestión de Grupos</h3>
          <div class="card_search col-md-3 position-relative">
            <ng-select (change)="selectedGroup()" [(ngModel)]="valueGroupsSelected" [items]="companies" bindLabel="name"
              bindValue="id" placeholder="Compañias">
            </ng-select>
          </div>
          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorGroups" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>
          <button (click)="newGroup()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>
        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>COMPAÑIA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let group of filterGroups() | paginate: {itemsPerPage: totalPaginasGroups, currentPage: pageGroups, id: 'itemGroups'}">
                <td>{{group.id}}</td>
                <td>
                  <p id="td_1">{{group.name}}</p>
                </td>
                <td>{{ getCompanyName (group.idCompany)}}</td>

                <td>
                  <i (click)="editGroup(group)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteGroup(group.id)" class="fa-regular fa-trash-can" style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasGroup($event)">
            <option *ngFor="let option of nPaginasGroups" [value]="option" [selected]="option === totalPaginasGroups">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterGroups().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageGroups - 1) * totalPaginasGroups+ 1 }} <strong style="color: gray;">-</strong> {{
              (pageGroups * totalPaginasGroups < filterGroups().length) ? (pageGroups * totalPaginasGroups) :
                filterGroups().length }} <strong style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterGroups().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;"
          id="itemGroups" (pageChange)="pageGroups =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>

    </div>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 5">

      <div class="row justify-content-center">

        <div class="row justify-content-between p-3">
          <h3 class="col-md-4"><i class="fa-solid fa-square-pen" id="icon_subtitle"></i> Gestión de tipos
          </h3>

          <div class="card_search col-md-3 position-relative">
            <ng-select [items]="companies" (change)="selectedTypes()" [(ngModel)]="valueTypesSelected" bindLabel="name"
              bindValue="id" placeholder="Compañias">
            </ng-select>
          </div>

          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorTypes" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>

          <button (click)="newType()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>

        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>COMPAÑIA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let type of filterTypes() | paginate: {itemsPerPage: totalPaginasTypes, currentPage: pageTypes, id: 'itemTypes'}">
                <td>{{type.id}}</td>
                <td>
                  <p id="td_1">{{type.name}}</p>
                </td>
                <td>{{ getCompanyName (type.idCompany)}}</td>
                <td>
                  <i (click)="editType(type)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteType(type.id)" class="fa-regular fa-trash-can" style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasTypes($event)">
            <option *ngFor="let option of nPaginasTypes" [value]="option" [selected]="option === totalPaginasTypes">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterTypes().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageTypes - 1) * totalPaginasTypes+ 1 }} <strong style="color: gray;">-</strong> {{
              (pageTypes * totalPaginasTypes < filterTypes().length) ? (pageTypes * totalPaginasTypes) :
                filterTypes().length }} <strong style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterTypes().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;" id="itemTypes"
          (pageChange)="pageTypes =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>


    </div>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 6">

      <div class="row justify-content-center">
        <div class="row justify-content-between p-3">
          <h3 class="col-md-4"><i class="fa-solid fa-square-pen" id="icon_subtitle"></i> Gestión de Categorías
          </h3>
          <div class="card_search col-md-3 position-relative">
            <ng-select [items]="companies" (change)="selectedCategories()" [(ngModel)]="valueCategoriesSelected"
              bindLabel="name" bindValue="id" placeholder="Compañias">
            </ng-select>
          </div>
          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorCategories" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>
          <button (click)="newCategory()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>
        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>CÓDIGO</th>
                <th>CATEGORIA</th>
                <th>CLASIFICACIÓN</th>
                <th>TIPO</th>
                <th>ESTADO</th>
                <th>GRUPO</th>
                <th>SECCIÓN</th>
                <th>SALDO INICIAL</th>
                <th>COMPAÑIA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let category of filterCategories() | paginate: {itemsPerPage: totalPaginasCategories, currentPage: pageCategories, id: 'itemCategories'}">
                <td>{{category.id}}</td>
                <td>
                  <p id="td_1">{{category.code}}</p>
                </td>
                <td>
                  <p id="td_1">{{category.category}}</p>

                </td>
                <td> {{ getClassificationName (category.idClassification)}} </td>
                <td> {{getTypeName (category.idType)}} </td>
                <td> <button class="button_estado" (click)="statesCategory(category.id)"
                    [ngStyle]="{background: category.state == 1 ? 'chartreuse' : 'red' }"><i class="fa-solid fa-check"
                      style="color: white;"></i></button>
                </td>
                <td> {{getGroupName( category.idGroup)}} </td>
                <td> {{getSeccionName(category.idSection)}} </td>
                <td> {{category.initialBalance | currency:'USD':'symbol':'1.0-0'}} </td>
                <td> {{getCompanyName(category.idCompany)}} </td>

                <td>
                  <i (click)="editCategory(category)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteCategory(category.id)" class="fa-regular fa-trash-can" style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasCategories($event)">
            <option *ngFor="let option of nPaginasCategories" [value]="option"
              [selected]="option === totalPaginasCategories">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterCategories().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageCategories - 1) * totalPaginasCategories+ 1 }} <strong style="color: gray;">-</strong> {{
              (pageCategories * totalPaginasCategories < filterCategories().length) ? (pageCategories *
                totalPaginasCategories) : filterCategories().length }} <strong style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterCategories().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;"
          id="itemCategories" (pageChange)="pageCategories =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>


    </div>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 7">

      <div class="row justify-content-center">
        <div class="row justify-content-between p-3">
          <h3 class="col-md-6"><i class="fa-solid fa-square-pen" id="icon_subtitle"></i> Gestión de Forma de Pago
          </h3>

          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorPaymentMethods" class="form-control"
              placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>
          <button (click)="newPaymentMethod()" class="btn btn-outline-primary btn-ms btn-block col-md-2"
            id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>
        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let paymentMethod of filterPaymentMethods() | paginate: {itemsPerPage: totalPaginasPaymentMethods, currentPage: pagePaymentMethods, id: 'itemPaymentMethods'}">
                <td>{{paymentMethod.id}}</td>
                <td>
                  <p id="td_1">{{paymentMethod.name}}</p>
                </td>
                <td>
                  <i (click)="editPaymentMethod(paymentMethod)" class="fa-solid fa-pen-to-square"
                    id="table_icon_edit"></i>
                  <i (click)="deletePaymentMethod(paymentMethod.id)" class="fa-regular fa-trash-can"
                    style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasPaymentMethods($event)">
            <option *ngFor="let option of nPaginasPaymentMethods" [value]="option"
              [selected]="option === totalPaginasPaymentMethods">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterPaymentMethods().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pagePaymentMethods - 1) * totalPaginasPaymentMethods+ 1 }} <strong style="color: gray;">-</strong> {{
              (pagePaymentMethods * totalPaginasPaymentMethods < filterPaymentMethods().length) ? (pagePaymentMethods *
                totalPaginasPaymentMethods) : filterPaymentMethods().length }} <strong
                style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterPaymentMethods().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;"
          id="itemPaymentMethods" (pageChange)="pagePaymentMethods =$event" previousLabel="Anterior"
          nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>


    </div>
  </div>

  <div class="container px-5">
    <div *ngIf="selectedTab === 8">

      <div class="row justify-content-center">

        <div class="row justify-content-between p-3">
          <h3 class="col-md-4"><i class="fa-solid fa-square-pen" id="icon_subtitle"></i> Gestión medios de pago
          </h3>

          <div class="card_search col-md-3 position-relative">
            <ng-select [items]="companies" (change)="selectedTypesPayment()" [(ngModel)]="valueTypesPaymentsSelected" bindLabel="name"
              bindValue="id" placeholder="Compañias">
            </ng-select>
          </div>

          <div class="card_search col-md-3 position-relative">
            <input id="search" type="search" [(ngModel)]="buscadorTypesPayments" class="form-control" placeholder="Buscar">
            <i class="fas fa-search position-absolute" id="icon_search"></i>
          </div>

          <button (click)="newTypesPayment()" class="btn btn-outline-primary btn-ms btn-block col-md-2" id="create_boton">
            <i class="fa-solid fa-circle-plus"></i> Crear
          </button>

        </div>

        <div class="scroll col-md-12">
          <table class="table table-responsive">
            <thead class="cont_head">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>COMPAÑIA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody class="cont_body">
              <tr
                *ngFor="let type of filterTypesPayments() | paginate: {itemsPerPage: totalPaginasTypesPayments, currentPage: pageTypesPayments, id: 'itemTypesPayments'}">
                <td>{{type.id}}</td>
                <td>
                  <p id="td_1">{{type.name}}</p>
                </td>
                <td>{{ getCompanyName (type.idCompany)}}</td>
                <td>
                  <i (click)="editTypesPayment(type)" class="fa-solid fa-pen-to-square" id="table_icon_edit"></i>
                  <i (click)="deleteTypesPayment(type.id)" class="fa-regular fa-trash-can" style="color: red;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-between text-center p-3">

        <div class="select col-md-1">
          <select class="form-select co-md-1" (change)="numeroPaginasTypesPayment($event)">
            <option *ngFor="let option of nPaginasTypesPayments" [value]="option" [selected]="option === totalPaginasTypesPayments">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3 p-3" *ngIf="filterTypesPayments().length"><span
            style="color: gray; font-weight: 300;justify-content: center !important;"><strong>Mostrando </strong>
            <strong style="color: #0a3754;">{{
              (pageTypesPayments - 1) * totalPaginasTypesPayments+ 1 }} <strong style="color: gray;">-</strong> {{
              (pageTypesPayments * totalPaginasTypesPayments < filterTypesPayments().length) ? (pageTypesPayments * totalPaginasTypesPayments) :
                filterTypesPayments().length }} <strong style="color: gray;font-weight: 300;">
                de</strong>
            {{ filterTypesPayments().length }}</strong></span>
        </div>

        <pagination-controls class="col-md-5" style="padding-top: 13px; color: #0a3754;font-weight: 400;" id="itemTypesPayments"
          (pageChange)="pageTypesPayments =$event" previousLabel="Anterior" nextLabel="Siguiente"
          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page 5 de 10">
        </pagination-controls>
      </div>


    </div>
  </div>

</div>
